<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/mycss.css">
    <title>Index</title>
</head>
<body>
    @if(IsSectionDefined("MessageBox")){
        @RenderSection("MessageBox",false)
    }
    else{
        <div class="alert alert-success text-center m-0">Hello my friend!</div>
    }
    @await Html.PartialAsync("_navbar")
    <partial name="_header"> @* yukardakinin alternatifi ancak addTagHelper to viewimports*@

    

    <main>
        <div class="container">
            @if(IsSectionDefined("Categories")){
                <div class="row">
                    <div class="col-md-3">
                        @RenderSection("Categories",false)
                    </div>
                    <div class="col-md-9">
                        @RenderBody()
                    </div>
                </div>
            }
            else{
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            }
            
        </div>
    </main>

    <footer class="py-5 bg-dark text-white text-center">
        TelApp | 2020
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    @RenderSection("Scripts",false)
</body>
</html>